<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>fr</string>
	<key>CFBundleDisplayName</key>
	<string>TripMemories</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TripMemories</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>io.flutter.embedded_views_preview</key>
    <true/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>L'application nécessite l'accès à la photothèque pour créer des posts sociaux ou personnaliser son profil. Les photos téléchargées par l'application seront visibles par tous les utilisateurs.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>L'application nécessite l'accès à la localisation, afin d'afficher les lieux à proximité de l'utilisateur et d'optimiser le voyage, la localisation ne sera utilisée qu'à cette fin.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>L'application nécessite l'accès à la localisation, afin d'afficher les lieux à proximité de l'utilisateur et d'optimiser le voyage, la localisation ne sera utilisée qu'à cette fin.</string>
	<key>NSCameraUsageDescription</key>
    <string>L'application nécessite l'accès à la caméra afin de scanner votre qrCode et de pouvoir le valider</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarStyle</key>
	<string></string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
